{% extends "base.html" %}
{% block content %}
  <section id="item-creation" class="mt-5">
    <div class="container">
      <h1 class="mb-4 text-center">Add an Item</h1>
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label>Enter Item's Name</label>
              <input type="text" class="form-control" />
            </div>
            <div class="form-group">
              <label>Enter Description</label>
              <textarea type="text" class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group">
              <label>Upload Image</label>
              <input type="file" class="d-block" />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-danger btn-block">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}