
{% extends "base.html" %}
{% block content %}
    <section id="top-10">
        <div class="container">
            <h1 class="mb-5 text-center">Top Items at Auction</h1>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card">
                        <img src="https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5d35eacaf1176b0008974b54%2F0x0.jpg%3FcropX1%3D790%26cropX2%3D5350%26cropY1%3D784%26cropY2%3D3349" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sports Car</h5>
                            <h6>Base Price : <span class="text-danger">$40000</span></h6>
                            <a href="/product/2" class="btn btn-dark btn-sm">Know More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card">
                        <img src="https://staticimg.titan.co.in/Titan/Catalog/1829QL01_1.jpg?pView=pdp" class="card-img-top" height="200px" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Titan Watch</h5>
                            <h6>Base Price : <span class="text-danger">$800</span></h6>
                            <a href="/product/2" class="btn btn-dark btn-sm">Know More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card">
                        <img src="https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F1026205392%2F0x0.jpg" height="200px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Villa</h5>
                            <h6>Base Price : <span class="text-danger">$2000000</span></h6>
                            <a href="/product/2" class="btn btn-dark btn-sm">Know More</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8 col-12 mt-4">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSu2XkhplkssSpLIFRW6Ba0OSibttUf5oKVhQ&usqp=CAU" height="200px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Nike Shoes</h5>
                            <h6>Base Price : <span class="text-danger">$250</span></h6>
                            <a href="/product/2" class="btn btn-dark btn-sm">Know More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-12 mt-4">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRSOucb0dqkLHkDwHkb0dLE-1FQwtJThpdlmw&usqp=CAU" height="200px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Iphone 11 Pro</h5>
                            <h6>Base Price : <span class="text-danger">$2000</span></h6>
                            <a href="/product/2" class="btn btn-dark btn-sm">Know More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-12 mt-4">
                    <div class="card">
                        <img src="https://m.media-amazon.com/images/M/MV5BOGM3NGFhMDctZWRjNS00MDQ4LWFkMjMtMWJmOGNlYjI5ZjI5XkEyXkFqcGdeQXVyODAzNzAwOTU@._V1_.jpg" height="200px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Painting</h5>
                            <h6>Base Price : <span class="text-danger">$1000</span></h6>
                            <a href="/product/2" class="btn btn-dark btn-sm">Know More</a>
                        </div> 
                    </div>
               </div>
            </div>
        </div>
    </section>
{% endblock %}
