{% extends "base.html" %}
{% block content %}
  <section class="mt-5">
    <div class="container">
      <h1 class="mb-4">Your Saved Items</h1>
      <div class="card mb-3" style="max-width: 540px">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5d35eacaf1176b0008974b54%2F0x0.jpg%3FcropX1%3D790%26cropX2%3D5350%26cropY1%3D784%26cropY2%3D3349"
              class="card-img"
              alt=""
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Red Ferrari</h5>
              <p class="card-text h4 text-danger">SOLD</p>
              <p class="card-text">
                <small class="text-muted">Last added 3 mins ago</small>
              </p>
              <i class="fas fa-trash"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="https://m.media-amazon.com/images/M/MV5BOGM3NGFhMDctZWRjNS00MDQ4LWFkMjMtMWJmOGNlYjI5ZjI5XkEyXkFqcGdeQXVyODAzNzAwOTU@._V1_.jpg"
              class="card-img"
              alt=""
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Painting</h5>
              <p class="card-text h4 text-danger">$1250</p>
              <p class="card-text">
                <small class="text-muted">Last updated 50 mins ago</small>
              </p>
              <i class="fas fa-trash"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSu2XkhplkssSpLIFRW6Ba0OSibttUf5oKVhQ&usqp=CAU"
              class="card-img"
              alt=""
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Nike Shoes</h5>
              <p class="card-text h4 text-danger">$300</p>
              <p class="card-text">
                <small class="text-muted"
                  >Last updated 1 hrs 45 mins ago</small
                >
              </p>
              <i class="fas fa-trash"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}